## <font color=red> Function2</font>

In [10]:
def personInfo(name, addr, weight):
    print(name, addr, weight)

x={'name':'이원복', 'addr':'하남시', 'weight':'78kg'}

personInfo(*x)  # key값
personInfo(**x) # value값

name addr weight
이원복 하남시 78kg

In [22]:
def personInfo2(**arg):
    for k, v in arg.items():
        print(k,':',v)
y={'name':'조유리', 'addr':'부산시', 'height':163, 'job':'singer', 'gender':'female'}
personInfo2(**x)
personInfo2(**y)

name : 이원복
addr : 하남시
weight : 78kg
name : 조유리
addr : 부산시
height : 163
job : singer
gender : female

In [32]:
res={}
list=[]
i=2
for i in range(2,10):
    for j in range (1,10):
        result=("%s * %s = %s" %(i, j, i*j))
        list.append(result)
        res['%s 단'%i]=list
        if j==9:
            list=[]
def gugudan(**arg):
    print('구구단입니다')
    print('-'*130)
    for k, v in arg.items():
        print(k,':',v)
        print('-'*130)
gugudan(**res)

구구단입니다
----------------------------------------------------------------------------------------------------------------------------------
2 단 : ['2 * 1 = 2', '2 * 2 = 4', '2 * 3 = 6', '2 * 4 = 8', '2 * 5 = 10', '2 * 6 = 12', '2 * 7 = 14', '2 * 8 = 16', '2 * 9 = 18']
----------------------------------------------------------------------------------------------------------------------------------
3 단 : ['3 * 1 = 3', '3 * 2 = 6', '3 * 3 = 9', '3 * 4 = 12', '3 * 5 = 15', '3 * 6 = 18', '3 * 7 = 21', '3 * 8 = 24', '3 * 9 = 27']
----------------------------------------------------------------------------------------------------------------------------------
4 단 : ['4 * 1 = 4', '4 * 2 = 8', '4 * 3 = 12', '4 * 4 = 16', '4 * 5 = 20', '4 * 6 = 24', '4 * 7 = 28', '4 * 8 = 32', '4 * 9 = 36']
----------------------------------------------------------------------------------------------------------------------------------
5 단 : ['5 * 1 = 5', '5 * 2 = 10', '5 * 3 = 15', '5 * 4 = 20', '5 * 5 = 25', '5 * 6 = 30', '5 * 7 = 35', '5 * 8 = 40', '5 * 9 = 45']
----------------------------------------------------------------------------------------------------------------------------------
6 단 : ['6 * 1 = 6', '6 * 2 = 12', '6 * 3 = 18', '6 * 4 = 24', '6 * 5 = 30', '6 * 6 = 36', '6 * 7 = 42', '6 * 8 = 48', '6 * 9 = 54']
----------------------------------------------------------------------------------------------------------------------------------
7 단 : ['7 * 1 = 7', '7 * 2 = 14', '7 * 3 = 21', '7 * 4 = 28', '7 * 5 = 35', '7 * 6 = 42', '7 * 7 = 49', '7 * 8 = 56', '7 * 9 = 63']
----------------------------------------------------------------------------------------------------------------------------------
8 단 : ['8 * 1 = 8', '8 * 2 = 16', '8 * 3 = 24', '8 * 4 = 32', '8 * 5 = 40', '8 * 6 = 48', '8 * 7 = 56', '8 * 8 = 64', '8 * 9 = 72']
----------------------------------------------------------------------------------------------------------------------------------
9 단 : ['9 * 1 = 9', '9 * 2 = 18', '9 * 3 = 27', '9 * 4 = 36', '9 * 5 = 45', '9 * 6 = 54', '9 * 7 = 63', '9 * 8 = 72', '9 * 9 = 81']
----------------------------------------------------------------------------------------------------------------------------------

In [37]:
def custom_print(*x, **y):
    print(*x, **y)
    
custom_print(1,2,3, sep=', ', end='.')

1, 2, 3.

In [48]:
a={}
neg=[]
odd=[]
eve=[]

def custom_print(**arg):
    for k, v in arg.items():
        print(k,':',v)

for x in range(-100,100,7):
    if x<0:
        neg.append(x)
    elif x%2==0:
        eve.append(x)
    elif x%2!=0:
        odd.append(x)
    a['음수']=neg
    a['홀수인 양수']=odd
    a['짝수인 양수']=eve

custom_print(**a)

음수 : [-100, -93, -86, -79, -72, -65, -58, -51, -44, -37, -30, -23, -16, -9, -2]
홀수인 양수 : [5, 19, 33, 47, 61, 75, 89]
짝수인 양수 : [12, 26, 40, 54, 68, 82, 96]

In [60]:
def showDataInfo(id, password, email):
    print(id, password, email)

z={'id':'blue', 'password':'1234', 'email':'hwfrzy@gmail.com'}

showDataInfo(**z)

blue 1234 hwfrzy@gmail.com

In [71]:
# list의 값을 parameter로 받기
def showDataInfo2(scorex, scorey, scorez):
    print(scorex, scorey, scorez)
showDataInfo2(*[10,20,30])

10 20 30

In [72]:
# 함수 내부 for문
def showDataInfo3(*score):
    for v in score:
        print(v, type(v))
showDataInfo3(10,20,30)

10 <class 'int'>
20 <class 'int'>
30 <class 'int'>

In [79]:
def showDataInfoDict(*k):
    print(k)   
    
z1={'id':'blue1','password':'1234','email1':'blue1@nate.com'}
z2={'id':'blue2','password':'1235','email2':'blue2@nate.com'}
z3={'id':'blue3','password':'1236','email3':'blue3@nate.com'}
z4={'id':'blue4','password':'1237','email4':'blue4@nate.com'}

result=[z1,z2]

showDataInfoDict(result)

([{'id': 'blue1', 'password': '1234', 'email1': 'blue1@nate.com'}, {'id': 'blue2', 'password': '1235', 'email2': 'blue2@nate.com'}],)

In [89]:
# 10만 정수로 받고 20부터 리스트로 받기
def print_number(a, *b):
    print(a, b)
print_number(10, 20, 30, 40)
# 10 (20, 30, 40)
print_number(10)
# 10 ()
print_number([10, 20, 30], 40)
# [10, 20, 30] (40,)
print_number(*[10, 20, 30])
# 10 (20, 30)

10 (20, 30, 40)
10 ()
[10, 20, 30] (40,)
10 (20, 30)