## 1. Function

In [2]:
def helloFunction():   #pass 없으면 에러난다.(추상 선언을 안했으므로)
    pass

In [3]:
def helloFunction():
    print('Hello Function')

In [10]:
print(helloFunction())
print(helloFunction)
helloFunction()

Hello Function
None
<function helloFunction at 0x0000018F584899D8>
Hello Function

In [19]:
# 인자가 없는 함수
def function1():
    print('function1()')
    
# 인자가 하나인 함수
def function2(x):
    print('function2(x) {}' .format(x))
    
# 인자가 두개인 함수
def function3(x,y):
    print('function3(x,y){0}, {1} '.format(x,y))

# 호출
function1()
function2(1)
function3(2,3)

# 결과값
#function1()
#function2(x) 1
#function3(x,y)2, 3

function1()
function2(x) 1
function3(x,y)2, 3

In [28]:
# 호출시 인자 갯수가 맞아야 정상작동한다.
# 단, 선언부 파라미터 내부에서 선언된 변수는 인자로 받지 않아도 작동한다.

def calc1(a, b):
    return a*b

def calc2(i, j, k=2):
    return i*j+k

result1=calc1(5,7)
result2=calc2(5,7)

print(result1)
print(result2)

35
37

In [35]:
# 인자를 그냥 넣으면 순서대로 들어간다.
# 변수 이름을 지정해서 넣으면 파라미터를 알아서 찾아간다.

def report1(name, age, score):
    print('이름은',name,'.', age,'세,', score,'점')

def report2(name, age, score):
    print(name, age, score)
    
report1('이원복', '32', '100')
report2(score='100', name='이원복', age='32')

이름은 이원복 . 32 세, 100 점
이원복 32 100

In [41]:
# overload 불가능하다.
def total(numbers1):
    print('numbers1=',numbers1)
def total(numbers2):
    print('numbers2=',numbers2)
total(10)

numbers2= 10

def total(numbers1):
    print('numbers1=',numbers1)
def total(numbers2, numbers3):
    print('numbers2=',numbers2,'numbers3=',numbers3)
total(10)

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
~\AppData\Local\Temp\ipykernel_3508\874642424.py in <module>
      3 def total(numbers2, number3):
      4     print('numbers2=',numbers2,'numbers3=',numbers3)
----> 5 total(10)

TypeError: total() missing 1 required positional argument: 'number3'

In [48]:
# 마지막으로 선언된 total()만 살아있는데, 살아있는 total()은 parameter가 2개이므로.
# parameter가 달라도 overload는 안된다

def total(numbers1):
    print('numbers1=',numbers1)
def total(numbers2, numbers3):
    print('numbers2=',numbers2,'numbers3=',numbers3)
total(10, 11)

numbers2= 10 numbers3= 11

def injectionMethod(x):
    return x
print(injectionMethod('hi there'))
hi there

In [56]:
# 가변인자
def injectionMethod(*x):
    for i in x:
        print(i)
injectionMethod(1,2,3,4,5,6,7,8,9,10)

1
2
3
4
5
6
7
8
9
10

In [58]:
def injectionMethod(*x):
    for i in x:
        print(i, end=', ')
injectionMethod(1,2,3,4,5,6,7,8,9,10)

1, 2, 3, 4, 5, 6, 7, 8, 9, 10,

In [65]:
def print_numbers(x,y,z):
    print(x,y,z, end=' ')
    
x=[10,20,30]
print_numbers(x[0], x[1], x[2])
print_numbers(*x)

10 20 30 10 20 30

In [66]:
k=(40,50,60)
print_numbers(*k)

40 50 60