# ListApp

In [8]:
a=[1,2,3,4,5]
print(a[0:2])
print(a[3:2])
b=a[2]
print(b)
c=a[1:]
print(c)
d=c[2:]
print(d)

[1, 2]
[]
3
[2, 3, 4, 5]
[4, 5]

In [12]:
num=0
a=[]
while num<10:
    a.append(num)
    num+=1
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## Set

In [18]:
set1=set('Hello Python')
print(set1)  # set 중복없고 순서없다
# {'n', 'H', 'P', 'h', 'e', ' ', 'o', 't', 'l', 'y'}

{'n', 'H', 'P', 'h', 'e', ' ', 'o', 't', 'l', 'y'}

In [16]:
set2=[1,2,3]
print(set2, type(set2))

[1, 2, 3] <class 'list'>

In [22]:
set3={2,3,'a','b','c',True,False,3.14}  # True는 1과 겹친다
print(set3)

{False, True, 2, 3, 3.14, 'b', 'c', 'a'}

In [27]:
set4=set({1,2,3,4,5,1,4,5})
print(set4, type(set4))

{1, 2, 3, 4, 5} <class 'set'>

In [28]:
set5=([1,2,3,4,5,1,1,2,3,])
print(set5, type(set5))

[1, 2, 3, 4, 5, 1, 1, 2, 3] <class 'list'>

In [36]:
testdict={'a':12, 'b':56, 'c':[1,2,3,4,5]}
set6=set(testdict)    # 딕셔너리를 set 하면 key만 나온다.
print(set6, type(set6))
print(testdict.keys())
print(testdict.values())

{'b', 'c', 'a'} <class 'set'>
dict_keys(['a', 'b', 'c'])
dict_values([12, 56, [1, 2, 3, 4, 5]])
<class 'set'>

In [37]:
s1={1,2,3,4,5}
s2={4,5,6,7,8}
print(s1, s2)

{1, 2, 3, 4, 5} {4, 5, 6, 7, 8}

In [38]:
# 교집합
print(s1.intersection(s2))

{4, 5}

In [39]:
# 합집합
print(s1|s2)
print(s1.union(s2))

{1, 2, 3, 4, 5, 6, 7, 8}

In [46]:
# 차집합
print(s1-s2)
print(s1.difference(s2))
print('-'*10)
print(s2-s1)
print(s2.difference(s1))

{1, 2, 3}
{1, 2, 3}
----------
{8, 6, 7}
{8, 6, 7}

In [50]:
# 대칭차집합 (합집합 - 교집합)
a={1,2,3,4,5}
b={3,4,5,6,7}
c=a^b
print(c)
c=a.symmetric_difference(b)
print(c)
c=a.union(b).difference(a.intersection(b))
print(c)

{1, 2, 6, 7}
{1, 2, 6, 7}
{1, 2, 6, 7}