* 수집, 저장 = 전처리
* Pandas는 data 전처리의 마지막 단계

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [9]:
print(pd.Timestamp('20230207092721'))

print(list(range(30)))

print(pd.Categorical({'java', 'pthon'}), type(pd.Categorical({'java', 'pthon'}))) # ----- 값이 제한적일때 사용한다

2023-02-07 09:27:21
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]
['java', 'pthon']
Categories (2, object): ['java', 'pthon'] <class 'pandas.core.arrays.categorical.Categorical'>

datas=pd.data_range(5)

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
~\AppData\Local\Temp\ipykernel_7344\1140348877.py in <module>
----> 1 datas=pd.data_range(5)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\__init__.py in __getattr__(name)
    259         return _SparseArray
    260 
--> 261     raise AttributeError(f"module 'pandas' has no attribute '{name}'")
    262 
    263 

AttributeError: module 'pandas' has no attribute 'data_range'

In [21]:
dates=pd.date_range('20230101', periods = 6) # ---------- 시작날짜, 시작날 포함 날짜의 수
print(dates)

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06'],
              dtype='datetime64[ns]', freq='D')

In [17]:
df=pd.DataFrame(np.random.randn(6,4)) # 6행 4열
print(df)

          0         1         2         3
0 -1.010392 -0.748449  0.037477  0.789761
1 -1.406452 -1.303201 -0.954950  0.419431
2 -0.773176  1.312811  1.927423 -0.393753
3 -0.868479 -0.573963 -1.232709 -0.025634
4 -1.534835 -0.830131  0.211670 -1.151487
5 -0.161890  0.767209  0.842895 -1.194469

In [22]:
df=pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD')) # ---------- 6행 4열이므로 dates는 6개여야 한다.

                   A         B         C         D
2023-01-01  0.477489 -0.806357  1.119394  0.793341
2023-01-02  1.126045  0.459792  0.898781  1.558258
2023-01-03  0.642174  1.338440  0.399005 -0.552217
2023-01-04 -0.669977  0.298453 -1.303827 -1.247249
2023-01-05  1.470528  0.221825 -0.892425 -0.279009
2023-01-06  0.743112 -0.337719 -1.102740  0.768867

In [23]:
print(df) # ---------- 전체데이터 출력

                   A         B         C         D
2023-01-01  0.477489 -0.806357  1.119394  0.793341
2023-01-02  1.126045  0.459792  0.898781  1.558258
2023-01-03  0.642174  1.338440  0.399005 -0.552217
2023-01-04 -0.669977  0.298453 -1.303827 -1.247249
2023-01-05  1.470528  0.221825 -0.892425 -0.279009
2023-01-06  0.743112 -0.337719 -1.102740  0.768867

In [24]:
print(df['A']) # ---------- A열만 출력. 정형데이터에서는 열의 이름 자체가 주소가 된다. 대소문자 구분

2023-01-01    0.477489
2023-01-02    1.126045
2023-01-03    0.642174
2023-01-04   -0.669977
2023-01-05    1.470528
2023-01-06    0.743112
Freq: D, Name: A, dtype: float64

In [31]:
print(df[0:3]) # ---------- 0행부터 2행까지 출력
print(df[1:2])

                   A         B         C         D
2023-01-01  0.477489 -0.806357  1.119394  0.793341
2023-01-02  1.126045  0.459792  0.898781  1.558258
2023-01-03  0.642174  1.338440  0.399005 -0.552217
                   A         B         C         D
2023-01-02  1.126045  0.459792  0.898781  1.558258

In [34]:
print(df['2023-01-01':'2023-01-03']) # ---------- index로 출력값 지정할때도 범위로 지정해야 한다.

                   A         B         C         D
2023-01-01  0.477489 -0.806357  1.119394  0.793341
2023-01-02  1.126045  0.459792  0.898781  1.558258
2023-01-03  0.642174  1.338440  0.399005 -0.552217

In [35]:
datas=pd.date_range('20230101',periods=6)
df=pd.DataFrame(np.random.randn(6,6),index=datas,columns=list('ABCDEF'))

print(df[0])

---------------------------------------------------------------------------
KeyError                                  Traceback (most recent call last)
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexes\base.py in get_loc(self, key, method, tolerance)
   3628             try:
-> 3629                 return self._engine.get_loc(casted_key)
   3630             except KeyError as err:
 -----
   3632             except TypeError:
   3633                 # If we have a listlike key, _check_indexing_error will raise

KeyError: 0

In [61]:
print(df)
print(df.loc[datas])

                   A         B         C         D         E         F
2023-01-01  0.020891 -0.321969  2.354723 -0.283980  1.030292 -0.157475
2023-01-02 -0.084773 -0.445438  1.166273  0.325855  1.631462  0.871130
2023-01-03 -0.889192  0.457526 -1.503544 -0.651347  1.030508  1.119182
2023-01-04 -0.257786 -0.067221 -0.599769  0.256113  2.042173 -1.530666
2023-01-05  0.961431 -1.287537  0.192645 -1.770771  1.812957  0.249222
2023-01-06  0.026883  0.073768  1.727119  0.961582 -1.377997  0.502337
                   A         B         C         D         E         F
2023-01-01  0.020891 -0.321969  2.354723 -0.283980  1.030292 -0.157475
2023-01-02 -0.084773 -0.445438  1.166273  0.325855  1.631462  0.871130
2023-01-03 -0.889192  0.457526 -1.503544 -0.651347  1.030508  1.119182
2023-01-04 -0.257786 -0.067221 -0.599769  0.256113  2.042173 -1.530666
2023-01-05  0.961431 -1.287537  0.192645 -1.770771  1.812957  0.249222
2023-01-06  0.026883  0.073768  1.727119  0.961582 -1.377997  0.502337

In [48]:
print(df.loc[datas[0]]) # ---------- 첫 행을 출력할 때
print('------'*10)
print(df.loc[datas[2]])# ---------- 세번째 행을 출력할 때

A    0.020891
B   -0.321969
C    2.354723
D   -0.283980
E    1.030292
F   -0.157475
Name: 2023-01-01 00:00:00, dtype: float64
------------------------------------------------------------
A   -0.889192
B    0.457526
C   -1.503544
D   -0.651347
E    1.030508
F    1.119182
Name: 2023-01-03 00:00:00, dtype: float64

In [49]:
# loc를 이용하여 전체 데이터 출력
print(df.loc[:])

                   A         B         C         D         E         F
2023-01-01  0.020891 -0.321969  2.354723 -0.283980  1.030292 -0.157475
2023-01-02 -0.084773 -0.445438  1.166273  0.325855  1.631462  0.871130
2023-01-03 -0.889192  0.457526 -1.503544 -0.651347  1.030508  1.119182
2023-01-04 -0.257786 -0.067221 -0.599769  0.256113  2.042173 -1.530666
2023-01-05  0.961431 -1.287537  0.192645 -1.770771  1.812957  0.249222
2023-01-06  0.026883  0.073768  1.727119  0.961582 -1.377997  0.502337

In [53]:
# loc를 이용하여 A열, B열 출력
print(df.loc[:,['A', 'B']])

                   A         B
2023-01-01  0.020891 -0.321969
2023-01-02 -0.084773 -0.445438
2023-01-03 -0.889192  0.457526
2023-01-04 -0.257786 -0.067221
2023-01-05  0.961431 -1.287537
2023-01-06  0.026883  0.073768

In [58]:
# 2023-01-04 행의 C, B, F열 순으로 데이터 출력
print(df.loc['2023-01-04',['C', 'B', 'F']])

C   -0.599769
B   -0.067221
F   -1.530666
Name: 2023-01-04 00:00:00, dtype: float64

In [68]:
print(df.loc[datas[0], 'A']) # ---------- 0행 A열의 Scalar 데이터값 출력
print(df.loc[datas[3], 'E']) # ---------- 3행 E열의 Scalar 데이터값 출력

print(df.at[datas[2], 'D']) # ---------- 2행 D열의 Scalar 데이터값 출력. at[]이 처리속도가 조금 더 빠르다

0.020890605780545458
2.042172845771592
-0.6513471065700577

# iloc

In [69]:
datas=pd.date_range('20230101',periods=6)
df=pd.DataFrame(np.random.randn(6,6),index=datas,columns=list('ABCDEF'))

In [70]:
print(df)

                   A         B         C         D         E         F
2023-01-01 -1.044618 -0.805942 -0.698570  0.230364 -1.055304 -1.657517
2023-01-02  0.243248  1.552922 -0.826733 -0.048442 -1.124382  0.590167
2023-01-03 -0.279617 -0.384317  0.917094 -0.036756 -2.038964 -1.629190
2023-01-04  0.025628  0.584838  1.563838 -1.012066 -0.227151 -0.779691
2023-01-05 -0.733935  1.465328  0.175937 -1.709216 -0.112242 -1.041833
2023-01-06 -0.586366  0.566008 -0.295853 -1.671469  1.099193  0.310459

In [72]:
print(df.iloc[3]) # --------- index를 통한 행 출력

A    0.025628
B    0.584838
C    1.563838
D   -1.012066
E   -0.227151
F   -0.779691
Name: 2023-01-04 00:00:00, dtype: float64

In [75]:
print(df.iloc[3:5]) # --------- iloc로 범위 출력
print(df.iloc[3:3]) # --------- column만 (empty data frame)

                   A         B         C         D         E         F
2023-01-04  0.025628  0.584838  1.563838 -1.012066 -0.227151 -0.779691
2023-01-05 -0.733935  1.465328  0.175937 -1.709216 -0.112242 -1.041833
Empty DataFrame
Columns: [A, B, C, D, E, F]
Index: []

In [81]:
print(df.iloc[3:5, 2:4]) # --------- 인덱스 3,4행 2,3열

                   C         D
2023-01-04  1.563838 -1.012066
2023-01-05  0.175937 -1.709216

In [87]:
print(df.iloc[0,2])  # -------- 0행 2열
print(df.iloc[[0,2,5]]) # -------- 0행, 2행, 5행 출력
print(df.iloc[[0,2,5], [0,2]]) # -------- 0행, 2행, 5행 중에 0열, 2열 출력

-0.6985703673622937
                   A         B         C         D         E         F
2023-01-01 -1.044618 -0.805942 -0.698570  0.230364 -1.055304 -1.657517
2023-01-03 -0.279617 -0.384317  0.917094 -0.036756 -2.038964 -1.629190
2023-01-06 -0.586366  0.566008 -0.295853 -1.671469  1.099193  0.310459
                   A         C
2023-01-01 -1.044618 -0.698570
2023-01-03 -0.279617  0.917094
2023-01-06 -0.586366 -0.295853

In [98]:
print(df, '\n')
print(df.iloc[1,1]) # index로 1행1열
print(df.iat[1,1]) # index로 1행1열, at함수. 조금 더 빠르다

                   A         B         C         D         E         F
2023-01-01 -1.044618 -0.805942 -0.698570  0.230364 -1.055304 -1.657517
2023-01-02  0.243248  1.552922 -0.826733 -0.048442 -1.124382  0.590167
2023-01-03 -0.279617 -0.384317  0.917094 -0.036756 -2.038964 -1.629190
2023-01-04  0.025628  0.584838  1.563838 -1.012066 -0.227151 -0.779691
2023-01-05 -0.733935  1.465328  0.175937 -1.709216 -0.112242 -1.041833
2023-01-06 -0.586366  0.566008 -0.295853 -1.671469  1.099193  0.310459

1.552922226534168
1.552922226534168