* pandasSet

In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [25]:
data={'names':['java','java','pandas','java','python','pandas'],
     'year':[2022, 2019, 2023, 2021, 2018, 2023],
     'counts':[1,6,3,7,8,2]}
print(data)

{'names': ['java', 'java', 'pandas', 'java', 'python', 'pandas'], 'year': [2022, 2019, 2023, 2021, 2018, 2023], 'counts': [1, 6, 3, 7, 8, 2]}

In [26]:
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [27]:
df=pd.DataFrame(data, columns=['names'])
print(df)

    names
0    java
1    java
2  pandas
3    java
4  python
5  pandas

In [28]:
df=pd.DataFrame(data, columns=['names', 'year', 'counts'])
print(df)

    names  year  counts
0    java  2022       1
1    java  2019       6
2  pandas  2023       3
3    java  2021       7
4  python  2018       8
5  pandas  2023       2

In [29]:
df=pd.DataFrame(data, columns=['names', 'year', 'counts'], index=['one', 'two', 'three', 'four', 'five', 'six'])
print(df)

        names  year  counts
one      java  2022       1
two      java  2019       6
three  pandas  2023       3
four     java  2021       7
five   python  2018       8
six    pandas  2023       2

In [33]:
df['increment']=0.5
df['increment']=[0.1, 0.6, 0.3, 0.9, 0.2, 0.2]
print(df)

        names  year  counts  increment  zeros
one      java  2022       1        0.1      0
two      java  2019       6        0.6      1
three  pandas  2023       3        0.3      2
four     java  2021       7        0.9      3
five   python  2018       8        0.2      4
six    pandas  2023       2        0.2      5

In [34]:
df['zeros']=np.arange(6)
print(df)

        names  year  counts  increment  zeros
one      java  2022       1        0.1      0
two      java  2019       6        0.6      1
three  pandas  2023       3        0.3      2
four     java  2021       7        0.9      3
five   python  2018       8        0.2      4
six    pandas  2023       2        0.2      5

In [44]:
print(pd.Series([1, 3, 5], index=['one', 'two', 'three']))
df['debt']=pd.Series([1, 3, 5], index=['one', 'three', 'five'])
print(df)

one      1
two      3
three    5
dtype: int64
        names  year  counts  increment  zeros  debt  net_cnt  hg_cnt
one      java  2022       1        0.1      0   1.0      0.9   False
two      java  2019       6        0.6      1   NaN      5.4    True
three  pandas  2023       3        0.3      2   3.0      2.7   False
four     java  2021       7        0.9      3   NaN      6.1    True
five   python  2018       8        0.2      4   5.0      7.8    True
six    pandas  2023       2        0.2      5   NaN      1.8   False

In [45]:
df['net_cnt']=df['counts']-df['increment']
print(df)

        names  year  counts  increment  zeros  debt  net_cnt  hg_cnt
one      java  2022       1        0.1      0   1.0      0.9   False
two      java  2019       6        0.6      1   NaN      5.4    True
three  pandas  2023       3        0.3      2   3.0      2.7   False
four     java  2021       7        0.9      3   NaN      6.1    True
five   python  2018       8        0.2      4   5.0      7.8    True
six    pandas  2023       2        0.2      5   NaN      1.8   False

In [46]:
df['hg_cnt']=df['net_cnt']>3.0
print(df)

        names  year  counts  increment  zeros  debt  net_cnt  hg_cnt
one      java  2022       1        0.1      0   1.0      0.9   False
two      java  2019       6        0.6      1   NaN      5.4    True
three  pandas  2023       3        0.3      2   3.0      2.7   False
four     java  2021       7        0.9      3   NaN      6.1    True
five   python  2018       8        0.2      4   5.0      7.8    True
six    pandas  2023       2        0.2      5   NaN      1.8   False

In [47]:
del df['net_cnt']

In [48]:
print(df)

        names  year  counts  increment  zeros  debt  hg_cnt
one      java  2022       1        0.1      0   1.0   False
two      java  2019       6        0.6      1   NaN    True
three  pandas  2023       3        0.3      2   3.0   False
four     java  2021       7        0.9      3   NaN    True
five   python  2018       8        0.2      4   5.0    True
six    pandas  2023       2        0.2      5   NaN   False

In [49]:
del df['debt']
del df['hg_cnt']
print(df)

        names  year  counts  increment  zeros
one      java  2022       1        0.1      0
two      java  2019       6        0.6      1
three  pandas  2023       3        0.3      2
four     java  2021       7        0.9      3
five   python  2018       8        0.2      4
six    pandas  2023       2        0.2      5

In [51]:
df['zeros']=1 # ---------- 열 update
print(df)

        names  year  counts  increment  zeros
one      java  2022       1        0.1      1
two      java  2019       6        0.6      1
three  pandas  2023       3        0.3      1
four     java  2021       7        0.9      1
five   python  2018       8        0.2      1
six    pandas  2023       2        0.2      1

In [52]:
print(df.columns)

Index(['names', 'year', 'counts', 'increment', 'zeros'], dtype='object')

In [53]:
df.loc['seven',:]=['oracle', 2021, 4, 0.9, 0] # ---------------- 행 추가
print(df)

        names    year  counts  increment  zeros
one      java  2022.0     1.0        0.1    1.0
two      java  2019.0     6.0        0.6    1.0
three  pandas  2023.0     3.0        0.3    1.0
four     java  2021.0     7.0        0.9    1.0
five   python  2018.0     8.0        0.2    1.0
six    pandas  2023.0     2.0        0.2    1.0
seven  oracle  2021.0     4.0        0.9    0.0

In [56]:
df = pd.DataFrame(np.random.randn(6, 4))
print(df)

          0         1         2         3
0 -0.630641  0.453256  0.469154  0.827845
1 -0.268919 -0.519804 -0.493536  2.210448
2 -0.458578  0.188674 -0.636292  1.759491
3 -0.002722  2.536318 -0.705086 -0.683428
4 -1.050365 -0.972183 -0.997767 -0.394044
5  0.037181 -0.488449 -0.467335  1.314506

In [57]:
df.columns = ['A', 'B', 'C', 'D']
df.index = pd.date_range('20160701', periods=6)
print(df)

                   A         B         C         D
2016-07-01 -0.630641  0.453256  0.469154  0.827845
2016-07-02 -0.268919 -0.519804 -0.493536  2.210448
2016-07-03 -0.458578  0.188674 -0.636292  1.759491
2016-07-04 -0.002722  2.536318 -0.705086 -0.683428
2016-07-05 -1.050365 -0.972183 -0.997767 -0.394044
2016-07-06  0.037181 -0.488449 -0.467335  1.314506

In [60]:
df['F']=[2, np.nan, 3, 1, 5, 0]
print(df)

                   A         B         C         D    F
2016-07-01 -0.630641  0.453256  0.469154  0.827845  2.0
2016-07-02 -0.268919 -0.519804 -0.493536  2.210448  NaN
2016-07-03 -0.458578  0.188674 -0.636292  1.759491  3.0
2016-07-04 -0.002722  2.536318 -0.705086 -0.683428  1.0
2016-07-05 -1.050365 -0.972183 -0.997767 -0.394044  5.0
2016-07-06  0.037181 -0.488449 -0.467335  1.314506  0.0

In [61]:
print(df.dropna(how='any')) # --------- 행 값중 하나라도(any) NaN이면 해당 행 삭제, 원본은 그대로 유지!!

                   A         B         C         D    F
2016-07-01 -0.630641  0.453256  0.469154  0.827845  2.0
2016-07-03 -0.458578  0.188674 -0.636292  1.759491  3.0
2016-07-04 -0.002722  2.536318 -0.705086 -0.683428  1.0
2016-07-05 -1.050365 -0.972183 -0.997767 -0.394044  5.0
2016-07-06  0.037181 -0.488449 -0.467335  1.314506  0.0

In [62]:
print(df)

                   A         B         C         D    F
2016-07-01 -0.630641  0.453256  0.469154  0.827845  2.0
2016-07-02 -0.268919 -0.519804 -0.493536  2.210448  NaN
2016-07-03 -0.458578  0.188674 -0.636292  1.759491  3.0
2016-07-04 -0.002722  2.536318 -0.705086 -0.683428  1.0
2016-07-05 -1.050365 -0.972183 -0.997767 -0.394044  5.0
2016-07-06  0.037181 -0.488449 -0.467335  1.314506  0.0

In [64]:
print(df.dropna(how='all')) # --------- 행의 모든 값이 NaN일때 지워준다.

                   A         B         C         D    F
2016-07-01 -0.630641  0.453256  0.469154  0.827845  2.0
2016-07-02 -0.268919 -0.519804 -0.493536  2.210448  NaN
2016-07-03 -0.458578  0.188674 -0.636292  1.759491  3.0
2016-07-04 -0.002722  2.536318 -0.705086 -0.683428  1.0
2016-07-05 -1.050365 -0.972183 -0.997767 -0.394044  5.0
2016-07-06  0.037181 -0.488449 -0.467335  1.314506  0.0

In [65]:
print(df.isna())

                A      B      C      D      F
2016-07-01  False  False  False  False  False
2016-07-02  False  False  False  False   True
2016-07-03  False  False  False  False  False
2016-07-04  False  False  False  False  False
2016-07-05  False  False  False  False  False
2016-07-06  False  False  False  False  False

In [66]:
print(df.fillna(value='df.fillna()'))  # --------- 모든 NaN값에 value값 넣어준다

                   A         B         C         D            F
2016-07-01 -0.630641  0.453256  0.469154  0.827845          2.0
2016-07-02 -0.268919 -0.519804 -0.493536  2.210448  df.fillna()
2016-07-03 -0.458578  0.188674 -0.636292  1.759491          3.0
2016-07-04 -0.002722  2.536318 -0.705086 -0.683428          1.0
2016-07-05 -1.050365 -0.972183 -0.997767 -0.394044          5.0
2016-07-06  0.037181 -0.488449 -0.467335  1.314506          0.0

In [67]:
print(df.isnull)

<bound method DataFrame.isnull of                    A         B         C         D    F
2016-07-01 -0.630641  0.453256  0.469154  0.827845  2.0
2016-07-02 -0.268919 -0.519804 -0.493536  2.210448  NaN
2016-07-03 -0.458578  0.188674 -0.636292  1.759491  3.0
2016-07-04 -0.002722  2.536318 -0.705086 -0.683428  1.0
2016-07-05 -1.050365 -0.972183 -0.997767 -0.394044  5.0
2016-07-06  0.037181 -0.488449 -0.467335  1.314506  0.0>