* Pandas

In [4]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(6, 4))
print(df)

          0         1         2         3
0  1.388746 -1.017161 -0.014925  0.492176
1 -0.423597  0.754415  1.236846 -1.044993
2  1.193181 -0.308999 -0.526328 -0.295312
3 -1.495650 -0.939354 -0.879717  1.508003
4 -0.117125 -0.570662 -1.348334  0.265956
5 -1.899354  0.995826  0.846770 -0.244827

In [5]:
df.columns = ['A', 'B', 'C', 'D']
df.index = pd.date_range('20160701', periods=6)
print(df)

                   A         B         C         D
2016-07-01  1.388746 -1.017161 -0.014925  0.492176
2016-07-02 -0.423597  0.754415  1.236846 -1.044993
2016-07-03  1.193181 -0.308999 -0.526328 -0.295312
2016-07-04 -1.495650 -0.939354 -0.879717  1.508003
2016-07-05 -0.117125 -0.570662 -1.348334  0.265956
2016-07-06 -1.899354  0.995826  0.846770 -0.244827

In [6]:
df['F'] = [1.0, np.nan, 3.5, 6.1, np.nan, 7.0]
print(df)

                   A         B         C         D    F
2016-07-01  1.388746 -1.017161 -0.014925  0.492176  1.0
2016-07-02 -0.423597  0.754415  1.236846 -1.044993  NaN
2016-07-03  1.193181 -0.308999 -0.526328 -0.295312  3.5
2016-07-04 -1.495650 -0.939354 -0.879717  1.508003  6.1
2016-07-05 -0.117125 -0.570662 -1.348334  0.265956  NaN
2016-07-06 -1.899354  0.995826  0.846770 -0.244827  7.0

In [7]:
print(df.dropna(how='any'))

                   A         B         C         D    F
2016-07-01  1.388746 -1.017161 -0.014925  0.492176  1.0
2016-07-03  1.193181 -0.308999 -0.526328 -0.295312  3.5
2016-07-04 -1.495650 -0.939354 -0.879717  1.508003  6.1
2016-07-06 -1.899354  0.995826  0.846770 -0.244827  7.0

In [8]:
print(df) # ------- 원본은 유지

                   A         B         C         D    F
2016-07-01  1.388746 -1.017161 -0.014925  0.492176  1.0
2016-07-02 -0.423597  0.754415  1.236846 -1.044993  NaN
2016-07-03  1.193181 -0.308999 -0.526328 -0.295312  3.5
2016-07-04 -1.495650 -0.939354 -0.879717  1.508003  6.1
2016-07-05 -0.117125 -0.570662 -1.348334  0.265956  NaN
2016-07-06 -1.899354  0.995826  0.846770 -0.244827  7.0

In [9]:
df.loc[pd.to_datetime('20160707'), :] = np.NaN

In [10]:
print(df)

                   A         B         C         D    F
2016-07-01  1.388746 -1.017161 -0.014925  0.492176  1.0
2016-07-02 -0.423597  0.754415  1.236846 -1.044993  NaN
2016-07-03  1.193181 -0.308999 -0.526328 -0.295312  3.5
2016-07-04 -1.495650 -0.939354 -0.879717  1.508003  6.1
2016-07-05 -0.117125 -0.570662 -1.348334  0.265956  NaN
2016-07-06 -1.899354  0.995826  0.846770 -0.244827  7.0
2016-07-07       NaN       NaN       NaN       NaN  NaN

In [11]:
print(df.dropna(how='any')) #or nan

                   A         B         C         D    F
2016-07-01  1.388746 -1.017161 -0.014925  0.492176  1.0
2016-07-03  1.193181 -0.308999 -0.526328 -0.295312  3.5
2016-07-04 -1.495650 -0.939354 -0.879717  1.508003  6.1
2016-07-06 -1.899354  0.995826  0.846770 -0.244827  7.0

In [12]:
print(df.dropna(how='all'))# and  A,B,C,D ,F 모두 NAN

                   A         B         C         D    F
2016-07-01  1.388746 -1.017161 -0.014925  0.492176  1.0
2016-07-02 -0.423597  0.754415  1.236846 -1.044993  NaN
2016-07-03  1.193181 -0.308999 -0.526328 -0.295312  3.5
2016-07-04 -1.495650 -0.939354 -0.879717  1.508003  6.1
2016-07-05 -0.117125 -0.570662 -1.348334  0.265956  NaN
2016-07-06 -1.899354  0.995826  0.846770 -0.244827  7.0

In [16]:
print(df)
booldf=df.isna()
print(booldf)

                   A         B         C         D    F
2016-07-01  1.388746 -1.017161 -0.014925  0.492176  1.0
2016-07-02 -0.423597  0.754415  1.236846 -1.044993  NaN
2016-07-03  1.193181 -0.308999 -0.526328 -0.295312  3.5
2016-07-04 -1.495650 -0.939354 -0.879717  1.508003  6.1
2016-07-05 -0.117125 -0.570662 -1.348334  0.265956  NaN
2016-07-06 -1.899354  0.995826  0.846770 -0.244827  7.0
2016-07-07       NaN       NaN       NaN       NaN  NaN
                A      B      C      D      F
2016-07-01  False  False  False  False  False
2016-07-02  False  False  False  False   True
2016-07-03  False  False  False  False  False
2016-07-04  False  False  False  False  False
2016-07-05  False  False  False  False   True
2016-07-06  False  False  False  False  False
2016-07-07   True   True   True   True   True

In [17]:
# ------- nan 개수 표시하기
print(df.isna().sum())

A    1
B    1
C    1
D    1
F    3
dtype: int64

In [18]:
print(df)

                   A         B         C         D    F
2016-07-01  1.388746 -1.017161 -0.014925  0.492176  1.0
2016-07-02 -0.423597  0.754415  1.236846 -1.044993  NaN
2016-07-03  1.193181 -0.308999 -0.526328 -0.295312  3.5
2016-07-04 -1.495650 -0.939354 -0.879717  1.508003  6.1
2016-07-05 -0.117125 -0.570662 -1.348334  0.265956  NaN
2016-07-06 -1.899354  0.995826  0.846770 -0.244827  7.0
2016-07-07       NaN       NaN       NaN       NaN  NaN

In [19]:
df.fillna(value=0) # ------- nan를 o으로 채워라..

                   A         B         C         D    F
2016-07-01  1.388746 -1.017161 -0.014925  0.492176  1.0
2016-07-02 -0.423597  0.754415  1.236846 -1.044993  0.0
2016-07-03  1.193181 -0.308999 -0.526328 -0.295312  3.5
2016-07-04 -1.495650 -0.939354 -0.879717  1.508003  6.1
2016-07-05 -0.117125 -0.570662 -1.348334  0.265956  0.0
2016-07-06 -1.899354  0.995826  0.846770 -0.244827  7.0
2016-07-07  0.000000  0.000000  0.000000  0.000000  0.0

In [20]:
print(df.loc[df.isnull()['F'], :]) # ------- F열에서 NAN값을 포함하는 행만 추출하기

                   A         B         C         D   F
2016-07-02 -0.423597  0.754415  1.236846 -1.044993 NaN
2016-07-05 -0.117125 -0.570662 -1.348334  0.265956 NaN
2016-07-07       NaN       NaN       NaN       NaN NaN

In [21]:
df

                   A         B         C         D    F
2016-07-01  1.388746 -1.017161 -0.014925  0.492176  1.0
2016-07-02 -0.423597  0.754415  1.236846 -1.044993  NaN
2016-07-03  1.193181 -0.308999 -0.526328 -0.295312  3.5
2016-07-04 -1.495650 -0.939354 -0.879717  1.508003  6.1
2016-07-05 -0.117125 -0.570662 -1.348334  0.265956  NaN
2016-07-06 -1.899354  0.995826  0.846770 -0.244827  7.0
2016-07-07       NaN       NaN       NaN       NaN  NaN

In [22]:
df.drop(pd.to_datetime('20160702'))

                   A         B         C         D    F
2016-07-01  1.388746 -1.017161 -0.014925  0.492176  1.0
2016-07-03  1.193181 -0.308999 -0.526328 -0.295312  3.5
2016-07-04 -1.495650 -0.939354 -0.879717  1.508003  6.1
2016-07-05 -0.117125 -0.570662 -1.348334  0.265956  NaN
2016-07-06 -1.899354  0.995826  0.846770 -0.244827  7.0
2016-07-07       NaN       NaN       NaN       NaN  NaN

In [23]:
df

                   A         B         C         D    F
2016-07-01  1.388746 -1.017161 -0.014925  0.492176  1.0
2016-07-02 -0.423597  0.754415  1.236846 -1.044993  NaN
2016-07-03  1.193181 -0.308999 -0.526328 -0.295312  3.5
2016-07-04 -1.495650 -0.939354 -0.879717  1.508003  6.1
2016-07-05 -0.117125 -0.570662 -1.348334  0.265956  NaN
2016-07-06 -1.899354  0.995826  0.846770 -0.244827  7.0
2016-07-07       NaN       NaN       NaN       NaN  NaN

In [26]:
df.drop([pd.to_datetime('20160702'),pd.to_datetime('20160706')])

                   A         B         C         D    F
2016-07-01  1.388746 -1.017161 -0.014925  0.492176  1.0
2016-07-03  1.193181 -0.308999 -0.526328 -0.295312  3.5
2016-07-04 -1.495650 -0.939354 -0.879717  1.508003  6.1
2016-07-05 -0.117125 -0.570662 -1.348334  0.265956  NaN
2016-07-07       NaN       NaN       NaN       NaN  NaN

In [27]:
print(df.drop('F', axis=1))

                   A         B         C         D
2016-07-01  1.388746 -1.017161 -0.014925  0.492176
2016-07-02 -0.423597  0.754415  1.236846 -1.044993
2016-07-03  1.193181 -0.308999 -0.526328 -0.295312
2016-07-04 -1.495650 -0.939354 -0.879717  1.508003
2016-07-05 -0.117125 -0.570662 -1.348334  0.265956
2016-07-06 -1.899354  0.995826  0.846770 -0.244827
2016-07-07       NaN       NaN       NaN       NaN

In [28]:
print(df.drop(['B', 'D'], axis=1))

                   A         C    F
2016-07-01  1.388746 -0.014925  1.0
2016-07-02 -0.423597  1.236846  NaN
2016-07-03  1.193181 -0.526328  3.5
2016-07-04 -1.495650 -0.879717  6.1
2016-07-05 -0.117125 -1.348334  NaN
2016-07-06 -1.899354  0.846770  7.0
2016-07-07       NaN       NaN  NaN

In [30]:
print(df.drop(['B', 'D'], axis=1))

                   A         C    F
2016-07-01  1.388746 -0.014925  1.0
2016-07-02 -0.423597  1.236846  NaN
2016-07-03  1.193181 -0.526328  3.5
2016-07-04 -1.495650 -0.879717  6.1
2016-07-05 -0.117125 -1.348334  NaN
2016-07-06 -1.899354  0.846770  7.0
2016-07-07       NaN       NaN  NaN