In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
datas=pd.date_range('20230101',periods=6)
df=pd.DataFrame(np.random.randn(6,6),index=datas,columns=list('ABCDEF'))
print(df)

                   A         B         C         D         E         F
2023-01-01 -1.570710 -0.518359 -1.221928  0.553699 -0.885554 -0.866201
2023-01-02  0.437732 -0.113313  0.316925 -1.949545 -0.842268 -0.397921
2023-01-03  0.027555 -0.616871  0.322856  0.511331 -0.433222 -0.753059
2023-01-04 -1.710308 -0.421166 -0.517504 -0.536561 -0.634612 -0.519610
2023-01-05 -1.092412  0.567721  0.451634 -3.191867  1.136081  1.213619
2023-01-06 -0.755903  0.063867  0.443570  0.040149 -0.335966 -0.303338

In [4]:
df2=df.copy()

In [5]:
print(df2)

                   A         B         C         D         E         F
2023-01-01 -1.570710 -0.518359 -1.221928  0.553699 -0.885554 -0.866201
2023-01-02  0.437732 -0.113313  0.316925 -1.949545 -0.842268 -0.397921
2023-01-03  0.027555 -0.616871  0.322856  0.511331 -0.433222 -0.753059
2023-01-04 -1.710308 -0.421166 -0.517504 -0.536561 -0.634612 -0.519610
2023-01-05 -1.092412  0.567721  0.451634 -3.191867  1.136081  1.213619
2023-01-06 -0.755903  0.063867  0.443570  0.040149 -0.335966 -0.303338

In [6]:
df2['E']=['one', 'one', 'two', 'three', 'four', 'three'] # ---- 컬럼 지정, 튜플 수정

In [7]:
print(df2)

                   A         B         C         D      E         F
2023-01-01 -1.570710 -0.518359 -1.221928  0.553699    one -0.866201
2023-01-02  0.437732 -0.113313  0.316925 -1.949545    one -0.397921
2023-01-03  0.027555 -0.616871  0.322856  0.511331    two -0.753059
2023-01-04 -1.710308 -0.421166 -0.517504 -0.536561  three -0.519610
2023-01-05 -1.092412  0.567721  0.451634 -3.191867   four  1.213619
2023-01-06 -0.755903  0.063867  0.443570  0.040149  three -0.303338

In [13]:
df2['G']=[1,2,3,4,5,6] # ---- 컬럼 생성, 내용 삽입. 행 갯수에 맞춰서 넣어야.

In [14]:
print(df) # ----------- 원본은 그대로 유지
print(df2)

                   A         B         C         D         E         F
2023-01-01 -1.570710 -0.518359 -1.221928  0.553699 -0.885554 -0.866201
2023-01-02  0.437732 -0.113313  0.316925 -1.949545 -0.842268 -0.397921
2023-01-03  0.027555 -0.616871  0.322856  0.511331 -0.433222 -0.753059
2023-01-04 -1.710308 -0.421166 -0.517504 -0.536561 -0.634612 -0.519610
2023-01-05 -1.092412  0.567721  0.451634 -3.191867  1.136081  1.213619
2023-01-06 -0.755903  0.063867  0.443570  0.040149 -0.335966 -0.303338
                   A         B         C         D      E         F  G
2023-01-01 -1.570710 -0.518359 -1.221928  0.553699    one -0.866201  1
2023-01-02  0.437732 -0.113313  0.316925 -1.949545    one -0.397921  2
2023-01-03  0.027555 -0.616871  0.322856  0.511331    two -0.753059  3
2023-01-04 -1.710308 -0.421166 -0.517504 -0.536561  three -0.519610  4
2023-01-05 -1.092412  0.567721  0.451634 -3.191867   four  1.213619  5
2023-01-06 -0.755903  0.063867  0.443570  0.040149  three -0.303338  6

In [16]:
print(df2[df.A>0]) # --------- A열에 대한 조건식

                   A         B         C         D    E         F  G
2023-01-02  0.437732 -0.113313  0.316925 -1.949545  one -0.397921  2
2023-01-03  0.027555 -0.616871  0.322856  0.511331  two -0.753059  3

In [26]:
print(df2[df>0.5]) # --------- 전체에 대한 조건식

             A         B   C         D     E         F   G
2023-01-01 NaN       NaN NaN  0.553699   NaN       NaN NaN
2023-01-02 NaN       NaN NaN       NaN   NaN       NaN NaN
2023-01-03 NaN       NaN NaN  0.511331   NaN       NaN NaN
2023-01-04 NaN       NaN NaN       NaN   NaN       NaN NaN
2023-01-05 NaN  0.567721 NaN       NaN  four  1.213619 NaN
2023-01-06 NaN       NaN NaN       NaN   NaN       NaN NaN

In [24]:
print(df2[df.E>-0.6].loc[:,'E'])

2023-01-03      two
2023-01-05     four
2023-01-06    three
Name: E, dtype: object

In [28]:
print(df2.E)

2023-01-01      one
2023-01-02      one
2023-01-03      two
2023-01-04    three
2023-01-05     four
2023-01-06    three
Freq: D, Name: E, dtype: object

In [29]:
print(df2[(df2.E=='one')])

                   A         B         C         D    E         F  G
2023-01-01 -1.570710 -0.518359 -1.221928  0.553699  one -0.866201  1
2023-01-02  0.437732 -0.113313  0.316925 -1.949545  one -0.397921  2

In [30]:
print(df2[(df2.E!='one')])

                   A         B         C         D      E         F  G
2023-01-03  0.027555 -0.616871  0.322856  0.511331    two -0.753059  3
2023-01-04 -1.710308 -0.421166 -0.517504 -0.536561  three -0.519610  4
2023-01-05 -1.092412  0.567721  0.451634 -3.191867   four  1.213619  5
2023-01-06 -0.755903  0.063867  0.443570  0.040149  three -0.303338  6

In [31]:
print(df2[~(df2.E!='one')]) # -------- 이중부정

                   A         B         C         D    E         F  G
2023-01-01 -1.570710 -0.518359 -1.221928  0.553699  one -0.866201  1
2023-01-02  0.437732 -0.113313  0.316925 -1.949545  one -0.397921  2

In [36]:
print(df2)
print(df2[df2.C>0.4])
print(df2[(df2.C>0.4) | (df2.A<0.8)])

                   A         B         C         D      E         F  G
2023-01-01 -1.570710 -0.518359 -1.221928  0.553699    one -0.866201  1
2023-01-02  0.437732 -0.113313  0.316925 -1.949545    one -0.397921  2
2023-01-03  0.027555 -0.616871  0.322856  0.511331    two -0.753059  3
2023-01-04 -1.710308 -0.421166 -0.517504 -0.536561  three -0.519610  4
2023-01-05 -1.092412  0.567721  0.451634 -3.191867   four  1.213619  5
2023-01-06 -0.755903  0.063867  0.443570  0.040149  three -0.303338  6
                   A         B         C         D      E         F  G
2023-01-05 -1.092412  0.567721  0.451634 -3.191867   four  1.213619  5
2023-01-06 -0.755903  0.063867  0.443570  0.040149  three -0.303338  6
                   A         B         C         D      E         F  G
2023-01-01 -1.570710 -0.518359 -1.221928  0.553699    one -0.866201  1
2023-01-02  0.437732 -0.113313  0.316925 -1.949545    one -0.397921  2
2023-01-03  0.027555 -0.616871  0.322856  0.511331    two -0.753059  3
2023-01-04 -1.710308 -0.421166 -0.517504 -0.536561  three -0.519610  4
2023-01-05 -1.092412  0.567721  0.451634 -3.191867   four  1.213619  5
2023-01-06 -0.755903  0.063867  0.443570  0.040149  three -0.303338  6

In [51]:
print(df2[df2['E'].isin(['one'])])

                   A         B         C         D    E         F  G
2023-01-01 -1.570710 -0.518359 -1.221928  0.553699  one -0.866201  1
2023-01-02  0.437732 -0.113313  0.316925 -1.949545  one -0.397921  2

In [55]:
print(df2[df2['F'].between(-0.5, 0.5)])

                   A         B         C         D      E         F  G
2023-01-02  0.437732 -0.113313  0.316925 -1.949545    one -0.397921  2
2023-01-06 -0.755903  0.063867  0.443570  0.040149  three -0.303338  6